{% extends 'base.html.j2' %}
{% block title %}
Registration
{% endblock title%}

{% block content %}
<h1>Registration</h1>
<small style="color:red;">{{error}}</small>
<form action="{{url_for('register')}}" method="POST"

{% endblock content%}